doctype
head
  title Goji Integration Guide
  link(rel="icon" href="favicon.ico" type="image/png")
  style
    include styles.css
body
  .main
    img(src = 'goji.jpg' style = 'width:100px')
    :markdown
      # Goji Innovative Finance ISA Integration Guide

      ##### v0.1.0 Monday 11th January 2015

      ## Legal Note

      This document is the property of Goji Holdings Limited. It may not be reproduced, stored in a retrieval system or transmitted in any form or by any means, either in whole or in part, without prior written permission of Goji Holdings Limited. Goji Holdings Limited is the owner of the intellectual property rights of this document. All such rights are reserved.
      You may download extracts, of any page(s) from this document for your personal reference. You must not modify the paper or digital copies of this document in any way, and you must not use any illustrations or any graphics separately from any accompanying text.

      ## Table of Contents

       * [Introduction](#introduction)
       * [API Integration](#api-integration)
         * [Changes to Originator's Systems Data Structures](#data-structures)
         * [Lifecycle Integration Points](#lifecycle-integration)
           * [Opening an ISA](#opening-isa)
           * [Cooling Off Period](#cooling-off)
         * [Funding an ISA](#funding-isa)
           * [Validation](#funding-validation)
           * [Cash Deposits](#cash-deposits)
           * [Transferring Funds](#funds-transfer)
           * [Transferring from an existing ISA](#transfers-in-intro)
         * [Investing](#investing)
           * [Earmarking money](#earmarking)
           * [Create Investment](#create-investment)
           * [Repayments](#repayments)
           * [Reinvestments](#reinvestments)
         * [Withdrawing Funds](#withdrawing-funds)
         * [Edit Investor Details](#edit-investor)
       * [Admin Console](#admin-console)
         * [ISA Workflows](#isa-workflows)
           * [Transfers In](#transfers-in)
           * [Transfers Out](#transfers-out)
           * [Repairing and Voiding ISAs](#repair-void)
             * [Voiding an ISA](#voiding)
             * [Repairing an ISA](#repairing)
           * [Death of Investor](#investor-death)
       * [Regulatory Reporting](#reporting)


      ## <a name="introduction"></a> Introduction

      The Goji Innovative Finance ISA Platform (Goji Platform) provides the administration, regulatory and compliance functionality to enable to Goji team to efficiently handle all back-office aspects of the Innovative Finance ISA on behalf of a P2P Platform and provide best-of-class 2nd level customer support.

      The Goji Platform provides a number of key features to enable efficient IF ISA administration:

      * Regulatory reporting to HMRC
      * Workflow management for ISA admin tasks eg transferring an ISA in/out, void&repair, death of investor etc.
      * Business rule validation on data input (e.g. check ISA limits, NI number checking)
      * Customer support instant messaging, ticketing and originator FAQ
      * Management information and insights into types of customers enabling improved customer marketing

      This document details how an Originator integrates with the Goji Platform.
      The intended audience of this document are the developers and analysts responsible for building the integration between the Originator's systems and the Goji Platform.

      The Goji Platform requires data from the Originator at a number of points in the Investor lifecycle to facilitate HMRC reporting, process workflow management and data validation (see API Integration below)

      Additionally, the Goji platform provides an admin interface to allow Originators and Goji staff to manage ISA specific workflows eg transfers in/out, repairing/voiding ISAs, death of investor etc.

      ## <a name="api-integration"></a> API Integration

      The Goji Platform exposes a RESTful API over HTTPS. Full details of the API are available in [separate documentation](https://goji-api.herokuapp.com/docs).

      ### <a name="lifecycle-integration"></a> Investor Lifecycle Integration Points

      Data will need to be submitted to the Goji Platform at the following points in an Investor's lifecycle.

      #### <a name="opening-isa"></a> Opening an ISA

      When a customer on the Originators platform elects to open an ISA, the investor first needs to be shown an ISA declaration and the current set of terms and conditions. The latest version of the declaration and terms and conditions can be retrieved by calling:

          GET /declaration

          GET /terms

      A record of the investor agreeing needs to be stored by calling:

          POST /terms

          POST /declaration

      A token is returned by these endpoints which needs to be included in the following calling to create the Investor.

      Once these documents have been agreed to, the Investor can be created on the Goji Platform by calling:

          POST /investors

      Validation will be performed to ensure that the data provided is a) valid and b) includes the data needed to comply with HMRC reporting.

      We also validate that the Investor has not already opened an IF ISA on the Goji Platform with another Originator in the current tax year.

      It is assumed that the Originator has already performed KYC and AML checks by this point.

      ##### <a name="cooling-off"></a> Cooling off period

      Once the declaration and terms have been signed and the Investor details have been recorded, the ISA is considered 'provisionally opened'.
      It is not fully opened until a deposit is made. Some platforms may wish to apply a cooling-off period for an investor before they can invest. This is configurable on the Goji platform for an Originator.

      The current state of the ISA, including when the cooling off period ends, can be checked:

           GET /investors/{investorId}/isa

      #### <a name="funding-isa"></a> Funding an ISA

      The Investor's ISA can be funded by depositing cash, transferring funds from an existing account with the Originator
      or by transferring in an ISA held with another ISA manager.

      ##### <a name="funding-validation"></a> Validation

      When money is added to the ISA account, validation is applied to ensure the annual subscription amount is not exceeded.
      The transfer will be rejected in whole if it exceeds the limit.
      The remaining maximum deposit amount is returned on the ISA details endpoint:

           GET /investors/{investorId}/isa

      ##### <a name="cash-deposits"></a> Cash deposit

      If an Investor deposits money to their IF ISA account, this needs to be recorded on the Goji Platform:

           POST /investors/{investorId}/cash

      setting the `type` to `CUSTOMER_DEPOSIT`.

      ##### <a name="funds-transfer"></a> Transferring funds from an existing account

      If an Investor transfers money from an existing investment account on the Originator's platform to their IF ISA, this similarly needs to be recorded as a cash transaction:

           POST /investors/{investorId}/cash

      setting the `type` to `TRANSFER_FROM_OTHER_ACCOUNT`.

      ##### <a name="transfers-in-intro"></a> Transfers in

      If an Investor holds an existing cash/stocks and shares ISA with another ISA manager, the Investor can elect to transfer that balance to a different ISA Manager.
      Please see the section below which details how the Transfers In/Out process works.

      #### <a name="investing"></a> Investing

      Once an Investor has funded their account (and, if configured, the cooling off period has expired), they can invest up to the amount of the cash balance on their IF ISA account.

      ##### <a name="earmarking"></a> Earmarking funds

      Earmarking funds is necessary if an Investor has committed an amount of money to an investment but the funds have not yet been drawn down.
      This is required if an Investor is bidding on an investment or if they have added their money to a lending queue which will get drawn down when it is matched against an available loan.

      Money can be earmarked with the following call:

           POST /investors/{investorId}/earmarkedAmount

      This reduces the available cash balance of the ISA.

      If an Investor is unsuccessful in their investment bid or if they want to remove their money from the offer or queue, the earmarked amount should be deleted:

           DELETE /investors/{investorId}/earmarkedAmount/{earmarkedAmountId}

      If the earmarked amount is converted into an investment, this needs to be converted to an investment on the Goji Platform:

           POST /investors/{investorId}/earmarkedAmount/{earmarkedAmountId}/investment

      ##### <a name="create-investment"></a> Creating an investment

      If an Investor can invest their money without going via an auction or queue, the investment should be created directly.

           POST /investors/{investorId}/investment

      This will reduce the cash balance available on the ISA.

      ##### <a name="repayments"></a> Repayments

      When the borrower makes a repayment against a loan, this repayment needs to be recorded on the Goji Platform.
      A repayment increases the cash balance on an ISA by the interest component of the repayment.
      If the repayment is automatically re-invested, please see the [Reinvestments](#reinvestments) section below.

           POST /investors/{investorId}/investment/{investmentId}/repayment

      ##### <a name="reinvestments"></a> Reinvestments

      When a borrower makes a repayment against a loan, this repayment needs to be recorded on the Goji Platform.
      A reinvestment differs from a repayment in that a reinvestment automatically invests the repaid capital and interest.
      The balance of the ISA is increased by the interest portion of the reinvestment.
      The cash balance remains unchanged.

           POST /investors/{investorId}/investment/{investmentId}/reinvestment

      #### <a name="withdrawing-funds"></a> Withdrawing funds

      An Investor can withdraw funds up to the cash balance available on the ISA.
      The amount that can be withdrawn is available from the ISA details:

           GET /investors/{investorId}/isa

      When a user withdraws cash, this needs to be recorded on the Goji Platform as a cash transaction:

           POST /investors/{investorId}/cash

      setting the `type` to `CUSTOMER_WITHDRAWAL`. The amount sent is still a positive amount. The type will indicate to Goji to decrement the cash balance.

      #### <a name="edit-investor"></a> Editing investor details

      If an Investor's details need to be updated eg they change address, this needs to be reflected on the Goji platform:

           PUT /investors/{investorId}

      ## <a name="admin-console"></a> Admin Console

      The Goji Platform Admin Console allows Originator and/or Goji Customer Service Agents (CSA) to perform ISA administration tasks.
      All activity on the console is fully audited and secured by an authentication and authorisation model.

      ### <a name="isa-workflows"></a> ISA Workflows

      The following workflows for ISA management are supported on the Admin Console.

      #### <a name="transfers-in"></a> Transfers In

      A 'transfer in' is the process where an Investor moves the cash balance of an existing Cash and/or stocks and shares ISA from another ISA Manager to the Originator's platform.

      An Investor-facing web application will guide the Investor through the steps necessary to facilitate this process. A link to this web application can be added to the Originator's platform. This will be a secure hand-off using OAuth.

      Once the process is complete, Goji can either:

      1) receive the funds from the 3rd party ISA plan manager and then transfer funds to the Originator and make a call to the Originator platform to indicate the transfer has completed and the funds are cleared. The Originator platform will need to expose a mechanism for being notified that the funds have cleared.

      2) inform the 3rd party ISA plan manager of the Originator's bank details and the money can be transferred directly. In this case the Originator would make call to

      			POST /investors/{investorId}/cash

      setting the `type` to `TRANSFER_IN`


      #### <a name="transfers-out"></a> Transfers Out

      A 'transfer-out' is the process where an Investor elects to move their IF ISA from the Originator to an alternative ISA Manager.

      The new ISA Manager will contact Goji who will perform the checks necessary to validate that the transfer request is genuine.

      It is up to the terms and conditions of the agreement between the Originator and the Investor as to whether loan parts can be liquidated to meet the requirements of a transfer out.

      If this is allowed and the Investor has elected to liquidate their loans, Goji will inform the Originator what portion of loans need to be sold on the secondary market. Once this is complete, the Originator will need to make a call to:

          POST /investors/{investorId}/investment/{investmentId}/liquidation

      The method of this, and the method for informing Goji once completed, needs to be agreed upon integration.

      Once there is enough cash in the IF ISA to enable the transfer out to complete, the cash needs to be transferred either directly to the new ISA manager or to Goji who will facilitate the transfer to the new ISA manager.

      Once the cash has been transferred, a call needs to be made to:

           POST /investors/{investorId}/cash

      setting the `type` to `TRANSFER_OUT_VIA_GOJI` or `TRANSFER_OUT_DIRECT`.

      The Originator platform will need to expose a mechanism to allow an IF ISA cash balance to be transferred to a designated bank account.

      #### <a name="repair-void"></a> Repairing / voiding ISAs

      If HMRC deem that an Investor has breached any ISA regulations eg opened two IF ISAs in one tax year, then an ISA may need to be voided or repaired.

      ##### <a name="voiding"></a> Voiding an ISA

      A voided ISA is one that is no longer eligible to be tax exempt. Goji will complete the verification, admin and tax submissions required for this process.

      The Originator platform will need to expose a mechanism to allow an ISA account (cash balance and investments) to be either transferred to a 'standard' account (preferable) or for the investments to be liquidated and the cash returned to the investor.

      ##### <a name="repairing"></a> Repairing an ISA

      A repaired ISA is one where a portion of the balance is no longer eligible to be tax exempt. Goji will complete the verification, admin and tax submissions required for this process.

      The Originator platform will need to expose a mechanism to allow a portion of an ISA account (cash balance and investments) to be either transferred to a 'standard' account (preferable) or for part ot the investments to be liquidated and the required cash returned to the investor.

      #### <a name="investor-death"></a> Death of Investor

      In the event of a death of an Investor, specific tasks needed to be carried out to process the tax liability of the ISA-wrapped investments.

      When you receive the death certificate, log onto the admin console, find the investor and click Special Events then Inform of Death. You will be prompted to upload the death certificate and will then be shown a valuation of that ISA which should be sent to the executor. Do the same when you receive the Grant of Probate or Grant of Letters of Administration. The executor then has 3 choices:

      1) If the executor changes the account into his/her name change the appopriate name & address on your systems. This should automatically call the PUT /investors/{investorId} as shown above. Note the ISA wrapper is still not present for this.

      2) If the ISA is to be transferred to the spouse then the spouse must create an ISA account on the P2P site. The P2P CSA should then logon to the admin console where there will be an option to transfer the ISA to another user. This process will require second level authorisation. At this point Goji will put the ISA wrapper back on. Once this is complete the P2P CSA will be informed and any underlying loans in the ISA must be novated to the spouse.

      3) If executor sells loans then it is the normal process for a sale.

      ## <a name="reporting"></a> Reporting

      The Goji Platform will automatically generate and submit all reporting required by HMRC based on the data provided.



